container {
  border-radius: 50%;
}

.cell {
  border-radius: 50%;
}

.open {
  background-color: whitesmoke;
}

.exposed {
  background-color: whitesmoke;
}

.flagged {
  background-color: lightgray;
}

.closed {
  background-color: slategray;
}

label.win {
  font-weight: bold;
  color: darkgreen;
}

label.lose {
  font-weight: bold;
  color: darkred;
}

grid {
  padding: 15px 15px 15px 15px;
  background-color: whitesmoke;
}

status_dialog {
  padding: 15px 15px 15px 15px;
  background-color: darkslategray;
  color: white;
  border-radius: 20px;
}

.restart {
  margin-bottom: 10px
}