#root {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}

.board {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 5px;
  background-color: whitesmoke;
}

.gameOver {
  opacity: 50%;
}

.newGame {
  margin-top: 20px;
  background-image: linear-gradient(to right, darkcyan, rgb(18, 79, 79));
  color: white;
  border-radius: 8px;
  box-shadow: 2px 2px slategray;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  font-size: 14px;
  opacity: .6;
}

.newGame:hover {
    opacity: 1;
}

.newGame:active {
    box-shadow: none;
}

span {
  margin-left: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, black, slategray, black);
  color: white;
  padding: 5px;
  border-radius: 8px;
}