.container {
  border-radius: 20px;
  width: 25px;
  height: 25px;
  padding: 0;
  justify-content: start;
  font-size: 0.8em;
}

.closed {
  background-color: lightgray;
}

.open {
  background-color: white;
}

.exposed {
  background-color: red;
}

@media (prefers-color-scheme: dark) {
  .open {
    background-color: #242424;
  }

  .container {
    color: white;
  }
}