.container {
  width: 25px;
  height: 25px;
  padding: 0;
  justify-content: start;
  font-size: 0.8em;
  box-shadow: -2px -2px rgba(255, 255, 255, 0.856), 2px 2px gray;
}

.container:active {
  box-shadow: none;
}

.container:hover {
  opacity: .8;
}

.closed {
  background-color: lightgray;
}

.open {
  background-color: white;
  box-shadow: none;
  font-weight: bold;
  font-size: 14px;
}

.exposed {
  background-color: red;
}

/* @media (prefers-color-scheme: dark) {
  .open {
    background-color: #242424;
  }

  .container {
    color: white;
  }
} */

.one {
  color: blue
}

.two {
  color: green
}

.three {
  color: purple
}

.four {
  color: red
}