.container {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  /* padding: 1rem; */
  justify-content: center;
  font-size: 0.8em;
}

.closed {
  background-color: lightgray;
}

.open {
  background-color: antiquewhite;
}

.exposed {
  background-color: red;
}