[Desktop Entry]
Categories=Game
Comment=MineSweeper
Exec=minesweeper-iced
Icon=io.github.darrellroberts.minesweeper
Name=MineSweeper
Terminal=false
Type=Application
