.win {
  padding: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.rank {
  font-size: 16px;
  margin-left: 10px;
}

.date {
  background-image: linear-gradient(to right, blue, black);
  color: white;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  opacity: .6;
}

.container {
  display: flex;
  align-items: center;
}

.noWins {
  font-size: 20px;
}